<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Toughts</title>
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/images/toughts_logo.jpg" alt="Toughts">
        </a>
        <ul>
            <li><a href="/">Pensamentos</a></li>
            {{#if session.userid}}
                <li><a href="/toughts/dashboard">Dashboard</a></li>
                <li><a href="/logout">Sair</a></li>
            {{else}}
                <li><a href="/login">Entrar</a></li>
                <li><a href="/register">Registrar</a></li>    
            {{/if}}
        </ul>
    </nav>
    <div class="container">
    
        {{#if messages.message}}
           <div class="message">
                {{messages.message}}
           </div>
        {{/if}}

        {{#if messages.emailExist}}
            <div class="message">
                {{messages.emailExist}}
            </div>
        {{/if}}

         {{#if messages.loginError}}
            <div class="message">
                {{messages.loginError}}
            </div>
        {{/if}}
        
        {{{body}}}
    </div>
    <footer>
        <p><span>Toughts</span>&copy; 2022</p>
    </footer>
</body>
</html>